html, body {
	height: 100%;
	width: 100%;
}

.vertical-center {
	min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 90vh; /* These two lines are counted as one :-)       */

  	display: flex;
  	align-items: center;
}

.play-area {
	text-align: center;
	margin: 0 auto;
}

#play-field {
	margin: 20px;
}

.footer {
	text-align: center;
	color: gray;
}

a {
	color: #5998ff;
}

a, a:hover, a:active, a:visited, a:focus {
	text-decoration: none;
	transition: color 0.5s;
}

h5 {
	color: #777777;
	font-weight: normal;
}

button {
	padding: 2px 6px;
	border: 0.5px solid #999;
	background: none;
	transition: background 0.5s, color 0.5s, border-color 0.5s;
}

input:focus {
	outline: 0;
}

button:hover {
	background: #444;
	color: white;
	border-color: #444;
}

button:focus {
	outline: 0;
}

button:active {
	background: black;
}

button:disabled {
	background: none;
	color: #ddd;
	border-color: #ddd;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;  15% from the top and centered 
    padding: 5%;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 80%;
}

#editor { 
        position: absolute;
        top: 3%;
        right: 2%;
        bottom: 10%;
        left: 2%;
        border-radius: 7px;
    }

#confirm-code {
	position: absolute;
	bottom: 5%;
}