<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hangman Bot</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loader.css')}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="container vertical-center">
  		<div class="play-area">
        <h1 id="play-field">Welcome to Hangman Bot!</h1>
    		<input type="text" id="letter" maxlength="1">
    		<button id="guess" disabled="true">Guess</button>
    		<button id="play">Play</button>
    		<h2>Guessed so far: <span id="guesses"></span></h2>
    		<h2>Guesses remaining: <span id="guesses-remaining"></span></h2>
    		<h4 id="win-status"></h4><br/>
    		<h5 id="solver-results"></h5>
        <div class="loading"></div>
        <button id="modal-btn">Write a Bot</button>
    	</div>
    </div>
    <div class="footer">
      <a target="_blank" href="https://github.com/timothsp/HangmanBot">github</a>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div id="editor">
/* Implement your make_guess method here */
(function(){
    return 'a';
}())
        </div>
        <button id="confirm-code">OKAY</button>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="{{url_for('static', filename='solver.js')}}"></script>
    <script src="{{url_for('static', filename='game.js')}}"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>